<section class="section">
  <div class="container">
    <h1 class="title">ログイン</h1>

    <%= form_with scope: :session, local: true do |f| %>

      <div class="field">
        <%= f.label :email, 'メールアドレス', class: 'label' %>
        <div class="control has-icons-left">
          <%= f.text_field :email, class: 'input', type: 'email' %>
          <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
        </div>
      </div>
      <div class="field">
        <%= f.label :password, 'パスワード', class: 'label' %>
        <div class="control has-icons-left">
          <%= f.text_field :password, class: 'input', type: 'password' %>
          <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <%= f.submit 'ログインする', class: 'button is-link' %>
        </p>
      </div>
    <% end %>
  </div>
</section>