<section class="section">
  <div class="container">
    <h1 class="title is-hidden-desktop">キモチと向き合う</h1>
    <div id='form'>
      <emotion-register-form inline-template>
        <div id="new-emotion-form">
          <%= form_with model: @emotion, local: true do |f| %>
          <div id="create-emotion">
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :color %>
            <%= f.color_field :color %>

            <%= f.label :context %>
            <%= f.text_area :context %><br>

            <input v-model="input_tag" placeholder="タグ" />
            <input v-model="input_content" placeholder="タグに関連した気持ち" /><br>
            <% @tags.map(&:name).each do |name| %>
            <a v-on:click="onTagSuggestClicked"><%= name %></a>
            <% end %>
            <a class="button" v-on:click="subscribe">フラグメントを追加</a>
          </div>
          <div id="fragment-list">
            <li v-for="fragment in fragments" v-bind:key="fragment.id">
              {{ fragment.tag }}:{{ fragment.content }} <button v-on:click="deleteFragment(fragment)">削除</button>

              <input type="hidden" name="emotion[fragments][]" v-bind:value="fragment.tag + ',' + fragment.content" />
            </li>
          </div>
          <%= f.submit %>
          <% end %>
        </div>
      </emotion-register-form>
    </div>
  </div>
</section>
<%= javascript_pack_tag 'new_emotion' %>