<section class="section">
  <div class="container is-widescreen">
    <h1 class="title">ユーザー新規登録</h1>

    <%= form_with model: @user, url: 'new', local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :email, 'メールアドレス', class: 'label' %>
        <div class="control has-icons-left">
          <%= f.text_field :email, class: 'input', type: 'email' %>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        </div>
      </div>
      <div class="field">
        <%= f.label :password, 'パスワード', class: 'label' %>
        <div class="control has-icons-left">
          <%= f.text_field :password, class: 'input', type: 'password' %>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'パスワード（確認）', class: 'label' %>
        <div class="control has-icons-left">
          <%= f.text_field :password_confirmation, class: 'input', type: 'password' %>
          <span class="icon is-small is-left">
          <i class="fas fa-check"></i>
        </span>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <%= f.submit '登録する', class: 'button is-success' %>
        </p>
      </div>
    <% end %>
  </div>
</section>
