<section class="section">
  <div class="container is-widescreen">
    <h1 class="title">ユーザー新規登録</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="label"><%= f.label :email %></div>
        <div class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="label">
          <%= f.label :password %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length %>
        </div>
        <div class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="label"><%= f.label :password_confirmation %></div>
        <div class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <%= f.submit t('.sign_up'), class: 'button is-link' %>
        </p>
      </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>
  </div>
</section>